*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 120px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(221, 221, 221);
}
main {
    height: calc(100vh - 120px);
    padding: 20px;
    overflow: auto;
}
.up-bar{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    padding: 10px 40px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0 20px 0;
    overflow-y: auto;
}
.card {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}
.card-header{
    
    /* background-color: rgb(125, 189, 125) !important; */
}
.card-header .card-title{
   text-transform: uppercase;
}
.card-body{
    
}

.progress {
    position: relative;
    height: 20px !important; /* Altezza della barra di progresso */
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0); /* Colore del testo */
    font-weight: bold;
}

.lf-bg-red{
    background-color: #ffa080 !important;
}
.lf-bg-green{
    background-color: #a5d46a !important;
}
.lf-bg-yellow{
    background-color: #ffff80 !important;
}

.card-body button{
    display: none;
}

.blinking {
    animation: blinkingBackground 1s infinite;
}

@keyframes blinkingBackground {
    0% { background-color: transparent !important; }
    50% { background-color: yellow !important; }
    100% { background-color: transparent !important; }
}
